services:
  app:
    image: axllent/mailpit
    restart: unless-stopped
    environment:
      - MP_DATABASE=/data/mailpit.db
      - TZ=Europe/Berlin
      - MP_SMTP_AUTH_ALLOW_INSECURE=true
      - MP_SMTP_AUTH=${MP_SMTP_AUTH}
      - MP_UI_AUTH=${MP_UI_AUTH:-}
      - CADDY_DOMAIN=${CADDY_DOMAIN}
      - CADDY_TYPE=${CADDY_TYPE:-external}
      - CADDY_PORT=${CADDY_PORT:-8025}
      - CADDY_AUTH=${CADDY_AUTH:-true}
      - CADDY_AUTH_GROUPS=${CADDY_AUTH_GROUPS:-}
      - CADDY_AUTH_EXCEPT=${CADDY_AUTH_EXCEPT:-/api/*}
    ports:
      - "1025:1025"
    volumes:
      - app_data:/data
    networks:
      - caddy
    labels:
      - ofelia.restart=true
      - ofelia.enabled=true
      - "ofelia.job-exec.${COMPOSE_PROJECT_NAME}dbbackup.schedule=${BACKUP_CRON_SCHEDULE:-0 0 3 * * *}"
      - "ofelia.job-exec.${COMPOSE_PROJECT_NAME}dbbackup.command=sh -c 'apk --no-cache add sqlite && sqlite3 /data/mailpit.db \".backup /data/mailpit.db.backup\"'"

volumes:
  app_data:

networks:
  caddy:
